html {
  background-color: #FFDCCE;
}

body {
  margin-left: 25px;
}

caption {
  font-size: 40px;
}

form {
  border: 5px double grey;
  border-radius: 15px;
  width: 80%;
  margin-bottom: 75px;
}

fieldset {
  border: none;
}

.h2 {
  font-family: sans-serif;
  font-style: italic;
  font-size: 15px;
}

legend {
  font-style: italic;
  font-family: cursive;
  font-size: 20px;
}

label {
  font-style: none;
  font-family: Arial;
  margin-left: 20px;
}

input {
  border: 2px solid grey;
  border-radius: 5px;
  background-color: #cccccc;
  font-size: 18px;
  resize: horizontal;
  width: 110px;
}

button {
  background-color: #fca380;
  margin-left: 50px;
}

table {
  border-bottom: 2px solid black;
  border-collapse: collapse;

}


tr:nth-child(even) {
  background-color: #fca380;
}


th {
  font-size:30px;
  font-family: Arial;
  border-bottom: 2px solid black;
  text-align: center;
}

td {
  font-size: 23px;
  text-align: center;
  border-left: 1px solid black;
  font-family: 'Space Mono', monospace;
  color: #442c22;
}

td:first-child {
  background-color: #442c22;
  font-family: Arial;
  color: #fca380;
  padding: 3px;
}
td:last-child {
  border-right: 2px solid black;
}
