body {
  margin: 0px;
}

header {
  /*background-color: blue;*/
  background-image: url('Resourses/gookieFish.jpg');
  height: 900px;
  width: 1020px;
  /*position: relative;*/
}

.header {
  font-family: 'Bellefair', serif;
  font-size: 50px;
  text-align: center;
}

header section {
  border: 2px, dotted, red;
}

header img {
  /*border: 2px dotted red;*/
}

nav ul {
  border: 2px solid grey;
  border-radius: 15px;
  background: 0,0,0,0;
  margin-top: 10px;
  margin-left:  65%;
  position: fixed;
  list-style-type: none;
}

nav li {
  display: inline;
  padding: 5px;
  margin-top: 5px;
  height: 20px;
}

nav img {
  height: 40px;
}


section {
  border: 2px dotted red;
}

section img {
  border: 2px dotted red;
}

.aboutUs {
  border: 2px dotted red;
}
.aboutUs p {
  border: 2px dotted red;
}
.aboutUs h3 {
  border: 2px dotted red;
}

.sources {
  border: 2px dotted red;
}

.findUs {
  border: 2px dotted red;
}

.findUs li {
  border: 2px dotted red;
}

.likedUs {
  border: 2px dotted red;
}

.reviews li {
  background-image: url("http://via.placeholder.com/300x375");
  height: 375px;
  width: 300px;
  border: 2px dotted red;
  display: inline;
  margin: 10px 6%;
  float: left;
}

footer {
  margin: auto;
  width: 900px;
}

.footer ul {
  display: inline;
}
