html {
  background-color: #FFDCCE;
}


body {
  margin: 0px;
}

header {
  background-color: black;
  background-image: url("../Resources/cookieFish.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 900px;
  width: 90%;
  margin: 0 auto;
  /*position: relative;*/
}

.header {
  font-family: 'Bellefair', serif;
  font-size: 50px;
  text-align: center;
}

header section {
  border: 2px, dotted, red;
}

header img {
  border: 2px dotted red;
  height: 50px;
  width: 50px;
}

nav ul {
  border: 2px solid grey;
  border-radius: 15px;
  background: 0,0,0,0;
  margin-top: 10px;
  margin-left:  65%;
  position: fixed;
  list-style-type: none;
}

nav li {
  display: inline;
  padding: 5px;
  margin-top: 5px;
  height: 20px;
}

nav img {
  height: 40px;
}


section {
  border: 2px dotted red;
}

section img {
  /*border: 2px dotted red;*/
}

.aboutUs {
  border: 2px dotted red;
}
.aboutUs p {
  border: 2px dotted red;
}
.aboutUs h3 {
  border: 2px dotted red;
}

.sources {
  border: 2px dotted red;
}

.findUs {
  border: 2px dotted red;
  text-align: center;
}

.findUs li {
  border: 2px dotted red;
  display: inline;
  margin: 0px 40px;
}

.likedUs {
  /*border: 2px dotted red;*/
}


.reviews li {
  /*background-image: url("http://via.placeholder.com/300x375");*/
  height: 187px;
  width: 310px;
  border: 2px solid grey;
  border-radius: 10px;
  display: inline;
  margin: 10px 6%;
  float: left;
}

.reviews li p {
  margin-top: 90px;
  color: #442c22;
}

.one {
  background-image: url("../Resources/family.jpg");
  background-size: contain;
}

footer {
  margin: auto;
  width: 900px;
}

.footer {
  display: inline;
}
