body {
  margin-left: 25px;
}

h1 {
  font-size: 40px;

}

h2 {
  font-size:35px;
  font-family: Arial;
  border-bottom: 2px;
  margin: 10px, 0px;
}

li {
  font-size: 25px;
}

/*Customer Facing Page*/
nav ul {
  border: 2px solid blue;
  background: transparant;
  margin-top: 10px;
  position: fixed;
}

.nav li {
  display: inline;
  padding: 5px;
  margin-top: 5px;

}
